/* Each div should have full width for smaller screens */
.full-width-centered {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

@media (max-width: 425px) {
	.threecharts > div {
		flex-basis: 100%;
		max-width: 100%;
	}
} 

/* Attendance Chart */
@media (min-width: 768px) and (max-width: 1115px) {
	.display-chart-custom {
	  height: 11rem;
	}
  }

@media (min-width: 1116px) and (max-width: 1535px) {
	.display-chart-custom {
		height: 20rem;
	}
}

@media (min-width: 1441px) {
	.display-chart-custom {
		height: 12rem;
	}
}